@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 41% 17%;
    --foreground: 220 13% 91%;

    --card: 223 47% 11%;
    --card-foreground: 220 13% 91%;

    --popover: 223 47% 11%;
    --popover-foreground: 220 13% 91%;

    --primary: 170 75% 45%;
    --primary-foreground: 223 47% 11%;

    --secondary: 210 50% 60%;
    --secondary-foreground: 223 47% 11%;

    --muted: 215 28% 27%;
    --muted-foreground: 215 14% 65%;

    --accent: 215 28% 27%;
    --accent-foreground: 220 13% 91%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 28% 27%;
    --input: 215 28% 27%;
    --ring: 170 80% 55%;

    --chart-1: 170 75% 45%;
    --chart-2: 210 50% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 41% 17%;
    --foreground: 220 13% 91%;

    --card: 223 47% 11%;
    --card-foreground: 220 13% 91%;

    --popover: 223 47% 11%;
    --popover-foreground: 220 13% 91%;

    --primary: 170 75% 45%;
    --primary-foreground: 223 47% 11%;

    --secondary: 210 50% 60%;
    --secondary-foreground: 223 47% 11%;

    --muted: 215 28% 27%;
    --muted-foreground: 215 14% 65%;

    --accent: 215 28% 27%;
    --accent-foreground: 220 13% 91%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 28% 27%;
    --input: 215 28% 27%;
    --ring: 170 80% 55%;

    --chart-1: 170 75% 45%;
    --chart-2: 210 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
